## Homework 5 - The eternal significance of publications and citations!
#### Group 18: Yousef Kanj (2113258), Simone Zagaria (2145389), Matteo Pazzini (1868953), Sai Swaroop Chittoor (1916247)

_____

In [2]:
import ijson
import numpy as np
from tqdm import tqdm
import pandas as pd
import os
import re

For each 150000 lines read from the JSON, we converted them to a pandas dataframe, sorted the dataframe for the top 10k by n_citations, dropped the rest of the entries, saved as a csv file and reset variables to clear memory. Between the 4.8 million entries processed, around 20 gave an error while reading them this was managed with a try except statement considering they're a negligible amount.

In [5]:
papers = []
x=0
maxed = 0
with open('dblp.v12.json', "rb") as file: 
    for i, element in tqdm(enumerate(ijson.items(file, "item"))):
        try:
            paper = {}

            paper['id'] = element['id']

            paper['title'] = element['title']

            paper['authors'] = element['authors']

            paper['year'] = element.get('year', np.nan)

            paper['n_citation'] = int(element.get('n_citation', None)) 
            
            paper['doc_type'] = element.get('doc_type', np.nan)

            paper['references'] = element.get('references', np.nan)

            paper['doi'] = f"https://doi.org/{element['doi']}" if 'doi' in element else np.nan

            paper['indexed_abstract'] = element.get('indexed_abstract', np.nan)

            paper['fos'] = element.get('fos', np.nan)

            paper['venue'] = element.get('venue', np.nan)

            papers.append(paper)

            if int(element.get('n_citation', None)) > maxed:
                maxed = int(element.get('n_citation', None))
                print(maxed)

        except Exception as error:
            print(i, error)

        if i % 150000 == 0 and i != 0:
            x+=1
            df = pd.DataFrame(papers)
            df = df.sort_values(by="n_citation", ascending= False)
            df = df[:10000]
            path = r"DFs\chunk " + str(x) + ".csv"
            df.to_csv(path)
            papers = []

path = r"DFs\chunk.csv"
df = pd.DataFrame(papers)
df = df.sort_values(by="n_citation", ascending= False)
df = df[:10000]
df.to_csv(path)
df.head(10)

2428it [00:00, 12133.94it/s]

1
6
13
66
113
129
215
1709

26848it [00:01, 13686.54it/s]

3450

283848it [00:36, 5357.14it/s]

4638

349366it [00:48, 10494.30it/s]

13365

598008it [01:32, 9536.85it/s]

14257

664361it [01:48, 9219.95it/s]

14972

689022it [01:54, 1031.55it/s]

25855

1132865it [03:22, 9378.31it/s]

32053

2938613it [09:58, 8383.62it/s]

35541

4073542it [14:10, 8870.38it/s]

4072519 'authors'
4073609 'authors'
4074066 'authors'

4076205it [14:10, 8529.68it/s]

4075098 'authors'
4075506 'authors'
4075960 'authors'
4075982 'authors'
4076003 'authors'
4076007 'authors'
4076545 'authors'
4076556 'authors'

4078839it [14:11, 8225.61it/s]

4077547 'authors'
4078600 'authors'
4079011 'authors'

4080477it [14:11, 7956.90it/s]

4079482 'authors'
4079499 'authors'

4084023it [14:11, 8693.09it/s]

4082186 'authors'
4082218 'authors'

4093646it [14:12, 10276.93it/s]

42437

4632501it [15:54, 9553.97it/s]

44175

4698039it [16:09, 6993.93it/s]

48327

4894081it [16:50, 4842.29it/s]

,id,title,authors,year,n_citation,doc_type,references,doi,indexed_abstract,fos,venue
74650,301824129,"Introduction to Algorithms, Second Edition","[{'name': 'TH Cormen', 'id': 40955404}, {'name...",2001,5155,Book,NaN,https://doi.org/,NaN,"[{'name': 'Computer science', 'w': 0.47071}, {...",NaN
30744,2611515161,Distributed Algorithms,"[{'name': 'Nancy A. Lynch', 'id': 2180706138}]",1996,3920,Book,"[138290785, 581672660, 1498909462, 1507757695,...",https://doi.org/,"{'IndexLength': 341, 'InvertedIndex': {'design...","[{'name': 'Consensus', 'w': 0.57338}, {'name':...",NaN
30600,2611243847,Planning Algorithms,"[{'name': 'Steven M. LaValle', 'id': 399368623}]",2006,3630,Book,"[1527367709, 2022344379, 2121859020, 214483615...",https://doi.org/,NaN,"[{'name': 'Kinodynamic planning', 'w': 0.58379...",NaN
41316,2751199251,Fundamentals of Database Systems,"[{'name': 'Ramez A. Elmasri', 'org': 'Univ. of...",1989,3194,Book,NaN,https://doi.org/,"{'IndexLength': 209, 'InvertedIndex': {'modeli...","[{'name': 'Data science', 'w': 0.46606}, {'nam...",NaN
86509,6908809,ADADELTA: An Adaptive Learning Rate Method,"[{'name': 'Matthew D. Zeiler', 'id': 2087742686}]",2012,2376,Repository,"[1994616650, 2147768505, 2168231600, 2950351588]",https://doi.org/,"{'IndexLength': 92, 'InvertedIndex': {'voice':...","[{'name': 'Online machine learning', 'w': 0.63...","{'raw': 'arXiv: Learning', 'id': 2597173376, '..."
30770,2611598995,The C Programming Language,"[{'name': 'Brian W. Kernighan', 'org': 'AT & T...",1978,2247,Book,[2162178863],https://doi.org/,"{'IndexLength': 134, 'InvertedIndex': {'been':...",[{'name': 'Fifth-generation programming langua...,NaN
31127,2612445135,MobileNets: Efficient Convolutional Neural Net...,"[{'name': 'Andrew G. Howard', 'id': 2612173839...",2017,2196,Repository,"[1650736245, 1686810756, 1821462560, 190531205...",https://doi.org/,"{'IndexLength': 118, 'InvertedIndex': {'called...","[{'name': 'Object detection', 'w': 0.53801}, {...",{'raw': 'arXiv: Computer Vision and Pattern Re...
30866,2611894836,Ontology Matching,"[{'name': 'Jérôme Euzenat', 'id': 1501542852},...",2007,2066,Book,NaN,https://doi.org/,"{'IndexLength': 317, 'InvertedIndex': {'been':...","[{'name': 'Ontology (information science)', 'w...",NaN
38764,2739999456,UniProt: A hub for protein information,"[{'name': 'A Bateman', 'id': 2120643991}, {'na...",2015,2003,,"[2076048958, 2107644675, 2107785922, 210872349...",https://doi.org/,"{'IndexLength': 166, 'InvertedIndex': {'been':...","[{'name': 'World Wide Web', 'w': 0.38444}, {'n...","{'raw': 'Nucleic Acids Research , 43 (D1) D..."
32072,2615953416,Stochastic Simulation,"[{'name': 'Brian D. Ripley', 'org': 'Universit...",1987,1721,Book,"[1967986582, 1975850564, 1980005324, 198802234...",https://doi.org/,NaN,"[{'name': 'Stochastic simulation', 'w': 0.6382...",NaN

These 33 folders of the top 10k per chunk were then concatenated together, sorted again for the top 10k between all, and the rest was dropped. From there we needed to proceed with data cleaning and correcting the data types.

In [6]:
folder_path = r'C:\Users\youse\Desktop\GitHub\ADM-HW-5\DFs' 

dataframes = []

for i in tqdm(range(33)):  
    file_name = f"chunk {i}.csv"  if i > 0 else "chunk.csv"
    file_path = os.path.join(folder_path, file_name)

    df = pd.read_csv(file_path)
    dataframes.append(df)

concatenated_df = pd.concat(dataframes, ignore_index=True)
concatenated_df.shape

100%|██████████| 33/33 [00:11<00:00,  2.86it/s]

(330000, 12)

In [10]:
def authors_to_dict(input_string): # This function converts the authors column to a clean dictionary with ID as key and name as value
    pattern = r"'name':\s*'([^']+)'.*?'id':\s*(\d+)(?:,.*?|})"
    matches = re.findall(pattern, input_string)

    result_dict = {int(id_): name for name, id_ in matches}

    return result_dict
concatenated_df = concatenated_df.sort_values(by="n_citation", ascending= False, ignore_index= True)
concatenated_df = concatenated_df[:10000]
concatenated_df = concatenated_df.drop(["Unnamed: 0", "doc_type", "doi", "venue","fos","indexed_abstract"], axis = 1)
concatenated_df["authors"] = concatenated_df["authors"].apply(authors_to_dict)
concatenated_df["references"] = concatenated_df["references"].apply(lambda x: list(map(int, x.strip("[]").split(", "))) if type(x) != float else x)

In [12]:
concatenated_df.head(5)
concatenated_df.to_csv(r"Top_10k_cleaned.csv")

,id,title,authors,year,n_citation,references
0,2041404167,The Mathematical Theory of Communication,{2247248564: 'C. E. Shannon'},1949,48327,NaN
1,1639032689,"Genetic algorithms in search, optimization, an...",{2102678951: 'David E. Goldberg'},1989,44175,NaN
2,2912565176,Fuzzy sets,{2252586558: 'Lotfi A. Zadeh'},1996,42437,NaN
3,2151103935,Distinctive Image Features from Scale-Invarian...,{2104328312: 'David G. Lowe'},2004,35541,"[19720318, 1541642243, 1560959218, 1676552347,..."
4,2911964244,Random Forests,{2569376642: 'Leo Breiman'},2001,34741,"[1507255258, 1580948147, 1605688901, 197584664..."